<div class='container'>
  <div class='row'>
    {{#each recipe in model}}
      <div class="recipe col m4">
        <strong>{{recipe.name}}</strong>
        <p>{{recipe.description}}</p>
        <p>{{recipe.gravity}}</p>
        <p>{{recipe.time_to_make}}</p>
        <p>{{recipe.instructions}}</p>
      </div>
    {{/each}}
  </div>
</div>

